<div class="section hero">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">

            <div class="hero__titles">
                <h1 class="hero__heading">Unmarked Graves</h1>
                <p class="hero__subheading">A sub-title here</p>
            </div>

        </div>
    </div>
</div>

