<section class="section section--three" id="section--three">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section3_para_1 %></p>
            <p><%= section3_para_2 %></p>
            <p><%= section3_para_3 %></p>
            <p><%= section3_para_4 %></p>
            <p><%= section3_para_5 %></p>
        </div>
    </div>

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--lesbos" id="bbc-news-vj-video--lesbos">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section3_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section3_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section3_title_1 %></h2>
            <p><%= section3_para_6 %></p>
            <p><%= section3_para_7 %></p>
            <p><%= section3_para_8 %></p>
            <p><%= section3_para_9 %></p>
            <p><%= section3_para_10 %></p>
            <p><%= section3_para_11 %></p>
        </div>

        <img id="case-study__image" src="<%= pathStatic %>/common/img/kato_tritos_headstone_1040.jpg" />

        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section3_para_12 %></p>
            <p><%= section3_para_13 %></p>
            <p><%= section3_para_14 %></p>
        </div>
    </div>

</section>

