<div class="section section--one" id="section--one">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">

            <ul class="meta-list">
                <li class="meta-list__item meta-list__item--timestamp">
                    <time datetime="2016-04-01">4th May 2016 <!-- <%= timestamp %>--></time>
                </li>
                <li class="meta-list__item meta-list__item--topic">
                    <a href=" <%= topic_link %> "><%= topic_label %></a>
                </li>
            </ul>

            <p class="intro">
                <%= intro_para_1 %>
            </p>
            <p>
                <%= intro_para_2 %>
            </p>
             <p>
                <%= intro_para_3 %>
            </p>

            <p class="hero-stat__title-one">
                So far this year, <span class="hero-stat__title--stat">8 people</span> a day on average
                drowned trying to cross the Mediterranean into
                Europe.
            </p>
            <p class="hero-stat__title-two">
                It is likely that one of them will be buried in an
                unmarked grave.
            </p>

        </div>
    </div>
</div>

