<section class="section section--two" id="section--two">

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--drone" id="bbc-news-vj-video--drone">
            <div class="bbc-news-vj-video__player"></div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section2_title %></h2>
            <p><%= section2_para_1 %></p>
            <p><%= section2_para_2 %></p>
        </div>


        <div id="graveyard-map--one__container">
            <div class="graveyard-map__title graveyard-map__title--one">
                <h2 class="graveyard-map__title__text"><%= map1_title %></h2>
                <p class="graveyard-map__title__subtext"><%= map1_subtitle %></p>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--one">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one">582</p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two">352</p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three">232</p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four">252</p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--one" id="graveyard-map--one">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--one"></div>
                    <div class="graveyard-map__overlay graveyard-map--one__overlay"></div>
                    <div class="graveyard-map__source graveyard-map__source--one"><%= map_source %></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>




        <div id="graveyard-map--two__container">
            <div class="graveyard-map__title graveyard-map__title--two">
                <h2 class="graveyard-map__title__text"><%= map2_title %></h2>
                <p class="graveyard-map__title__subtext"><%= map2_subtitle %></p>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--two">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one">272</p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two">262</p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three">452</p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four">232</p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--two" id="graveyard-map--two">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--two"></div>
                    <div class="graveyard-map__overlay graveyard-map--two__overlay"></div>
                    <div class="graveyard-map__source graveyard-map__source--two"><%= map_source %></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>




        <div id="graveyard-map--two__container">
            <div class="graveyard-map__title graveyard-map__title--three">
                <h2 class="graveyard-map__title__text"><%= map3_title %></h2>
                <p class="graveyard-map__title__subtext"><%= map3_subtitle %></p>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--three">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one">062</p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two">072</p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three">672</p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four">342</p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--three" id="graveyard-map--three">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--three"></div>
                    <div class="graveyard-map__overlay graveyard-map--three__overlay"></div>
                    <div class="graveyard-map__source graveyard-map__source--three"><%= map_source %></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>


    </div>
</section>
