<div class="section section--four"  id="section--four">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section4_title %></h2>
            <p><%= section4_para_1 %></p>
        </div>
        <div style="width:100%;border: 1px solid red;text-align:center;padding:10%;">
            <h3>IMAGE/FLOWCHAT/DIAGRAM GOES HERE</h3>
        </div>
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section4_para_2 %></p>
            <p><%= section4_para_3 %></p>
        </div>
        <div style="width:100%;border: 1px solid red;text-align:center;padding:10%;margin-bottom:2em;">
            <h3>LESBOS MAP GOES HERE</h3>
        </div>
        <div style="width:100%;border: 1px solid red;text-align:center;padding:10%;">
            <h3>BOAT IMAGE GOES HERE</h3>
        </div>
    </div>

</div>

