<section class="section section--one" id="section--one">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">

            <ul class="meta-list">
                <span class="meta-list__item meta-list__item--author"><%= author_name %></span>
                <span class="meta-list__item meta-list__item--role"><%= bbc_news %></span>
                <span class="meta-list__item meta-list__item--timestamp">
                    <time datetime="2016-04-01"><%= timestamp %></time>
                </span>
                <span class="meta-list__item meta-list__item--topic">
                    <a href="<%= topic_link %>"><%= topic_label %></a>
                </span>
            </ul>
            <div class="clearfix"></div>

            <p class="intro">
                <%= intro_para_1 %>
            </p>
            <p>
                <%= intro_para_2 %>
            </p>
             <p>
                <%= intro_para_3 %>
            </p>

            <p class="intro--stat">
                <%= intro_para_4 %>
            </p>
            <p class="intro--stat">
                <%= intro_para_5 %>
            </p>

        </div>
    </div>
</section>

