<section class="section section--three" id="section--three">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section3_title_1 %></h2>
            <p><%= section3_para_1 %></p>
            <p><%= section3_para_2 %></p>
        </div>
        <div class="case-study__image" id="case-study__image" style="margin: 0 auto;width:60%;border: 1px solid red;text-align:center;padding:10%;">
            <h3>IMAGE GOES HERE</h3>
        </div>
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section3_title_2 %></h2>
            <p><%= section3_para_3 %></p>
        </div>
    </div>

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--lesbos" id="bbc-news-vj-video--lesbos">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section3_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section3_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section3_para_4 %></p>
            <p><%= section3_para_5 %></p>
        </div>
    </div>

</section>

