<section class="section section--five" id="section--five">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section5_title %></h2>
            <p><%= section5_para_1 %></p>
            <p><%= section5_para_2 %></p>
            <p><%= section5_para_3 %></p>
        </div>
    </div>

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--undertaker" id="bbc-news-vj-video--undertaker">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section5_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section5_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_4 %></p>
        </div>
        <div class="chart__container" id="chart__container">

            <div class="chart__header">
                <h2 class="chart__header--title"><%= chart1_title %></h2>
                <div><%= chart1_subtitle %></div>
                <div class="chart__header--impact"><span class="chart__header--impact__stat"><%= chart1_impact_stat %></span> <%= chart1_impact_text %></div>
            </div>
            <div class="chart chart--one"></div>

        </div>
        <div class="chart__container" id="chart__container">

            <div class="chart__header">
                <h2 class="chart__header--title"><%= chart2_title %></h2>
                <div><%= chart2_subtitle %></div>
                <div class="chart__header--impact"><span class="chart__header--impact__stat"><%= chart2_impact_stat %></span> <%= chart2_impact_text %></div>
            </div>
            <div class="chart chart--two"></div>

        </div>
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_5 %></p>
            <p><%= section5_para_6 %></p>
        </div>
    </div>

</section>
