<section class="section section--four"  id="section--four">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section4_title %></h2>
            <p><%= section4_para_1 %></p>
        </div>
    </div>
    <div class="finding-lost-relatives__flowchart" id="finding-lost-relatives__flowchart" style="width:100%;border: 1px solid red;text-align:center;padding:10%;">
        <h3>CASE STUDY 2 FULL WIDTH IMAGE</h3>
    </div>
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section4_para_2 %></p>
            <p><%= section4_para_3 %></p>
            <p><%= section4_para_4 %></p>

            <blockquote class="bbcquote">
                <%= section_4_blockquote %>
                <cite class="bbcquote__cite"><%= section_4_blockquote_credit %></cite>
            </blockquote>

            <p><%= section4_para_5 %></p>
            <p><%= section4_para_6 %></p>
            <p><%= section4_para_7 %></p>
            <p><%= section4_para_8 %></p>
            <p><%= section4_para_9 %></p>
        </div>
    </div>

</section>

