<section class="section section--five" id="section--five">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section5_title %></h2>
            <p><%= section5_para_1 %></p>
            <p><%= section5_para_2 %></p>
            <p><%= section5_para_3 %></p>
            <p><%= section5_para_4 %></p>
            <p><%= section5_para_5 %></p>
            <p><%= section5_para_6 %></p>
        </div>
    </div>


    <div class="bbc-news-vj-grid-wrapper">
        <div class="lesbos-map__image" id="lesbos-map__image">
            <picture>
                <source
                    media="(min-width: 1024px)"
                    srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_1400_1x_<%= vocab_dir %>.jpg,
                            <%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_1400_2x_<%= vocab_dir %>.jpg 2x">
                <source
                    media="(min-width: 752px)"
                    srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_810_1x_<%= vocab_dir %>.jpg,
                            <%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_810_2x_<%= vocab_dir %>.jpg 2x">
                <source
                    media="(max-width: 751px)"
                    srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_624_1x_<%= vocab_dir %>.jpg,
                            <%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_624_2x_<%= vocab_dir %>.jpg 2x">
                <img class="lesbos-map__image__fallback"
                     src="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_624_1x_<%= vocab_dir %>.jpg"
                     srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/brazil_624_2x_<%= vocab_dir %>.jpg 2x"
                     alt="<%= section_2_map_alt_text %>">
            </picture>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <blockquote class="bbcquote">
                <%= section_5_blockquote %>
                <cite class="bbcquote__cite"><%= section_5_blockquote_credit %></cite>
            </blockquote>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_7 %></p>
            <p><%= section5_para_8 %></p>
            <p><%= section5_para_9 %></p>
            <p><%= section5_para_10 %></p>
            <p><%= section5_para_11 %></p>
        </div>
    </div>

</section>
