<div class="section section--two" id="section--two">
    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--drone" id="bbc-news-vj-video--drone">
            <div class="bbc-news-vj-video__player"></div>
            <!-- <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title">< %= section2_video_title % ></div>
                    <div class="bbc-news-vj-video__overlay__text__summary">< %= section2_video_summary % ></div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section2_title %></h2>
            <p><%= section2_para_1 %></p>
            <p><%= section2_para_2 %></p>
        </div>
        <div style="max-width: 1008px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    border: 1px solid red;
                    text-align:center;
                    padding:10%;">
            <h3>GRAVEYARD GOOGLE MAP GOES HERE</h3>
        </div>

    </div>
</div>
