<section class="section section--two" id="section--two">

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--drone" id="bbc-news-vj-video--drone">
            <div class="bbc-news-vj-video__player"></div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section2_title %></h2>

            <p><%= section2_para_1 %></p>
            <p><%= section2_para_2 %></p>
            <p><%= section2_para_3 %></p>

            <img src="<%= pathStatic %>/common/img/firuz_640.jpg" width="100%" />
            <figcaption class="media-with-caption__caption">
                <%= section2_img_1_caption %>
            </figcaption>

            <p><%= section2_para_4 %></p>
            <p><%= section2_para_5 %></p>
            <p><%= section2_para_6 %></p>
            <p><%= section2_para_7 %></p>
            <p><%= section2_para_8 %></p>

            <h2><%= section2_title_2 %></h2>

        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <picture>
            <source
                media="(min-width: 1040px)"
                srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/lesbos_crossing_1040.jpg">
            <source
                media="(min-width: 810px)"
                srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/lesbos_crossing_810.jpg">
            <source
                media="(min-width: 624px)"
                srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/lesbos_crossing_624.jpg">

            <img class="lesbos-map__image__fallback"
                 src="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/lesbos_crossing_624.jpg"
                 srcset="<%= pathStatic %>/common/img/maps/<%= vocab_dir %>/lesbos_crossing_624.jpg"
                 alt="<%= section_2_map_alt_text %>">
        </picture>

        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section2_para_9 %></p>
            <p><%= section2_para_10 %></p>
            <p><%= section2_para_11 %></p>
        </div>

        <img src="<%= pathStatic %>/common/img/firuz_family_photos_1040.jpg" />
        <figcaption class="media-with-caption__caption">
            <%= section2_img_2_caption %>
        </figcaption>

        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= map_section_title %></h2>
            <p><%= map_section_para_1 %></p>
            <p><%= map_section_para_2 %></p>
        </div>


        <div id="graveyard-map--one__container">
            <div class="graveyard-map__title graveyard-map__title--one">
                <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                    <p><%= map_section_para_3 %></p>
                    <p><%= map_section_para_4 %></p>
                    <p><%= map_section_para_5 %></p>
                </div>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--one">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one"><%= map1_incidents_stat %></p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two"><%= map1_deadormissing_stat %></p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three"><%= map1_cemeteries_stat %></p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four"><%= map1_unmarkedgraves_stat %></p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--one" id="graveyard-map--one">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--one"></div>
                    <div class="graveyard-map__overlay graveyard-map--one__overlay"></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__source graveyard-map__source--one"><%= map_source %></div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale__container">
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                </span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>




        <div id="graveyard-map--two__container">
            <div class="graveyard-map__title graveyard-map__title--two">
                <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                    <h2 class="graveyard-map__title__text"><%= map2_title %></h2>
                    <p><%= map_section_para_6 %></p>
                    <p><%= map_section_para_7 %></p>
                    <p><%= map_section_para_8 %></p>
                    <p><%= map_section_para_9 %></p>
                    <p><%= map_section_para_10 %></p>
                </div>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--two">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one"><%= map2_incidents_stat %></p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two"><%= map2_deadormissing_stat %></p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three"><%= map2_cemeteries_stat %></p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four"><%= map2_unmarkedgraves_stat %></p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--two" id="graveyard-map--two">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--two"></div>
                    <div class="graveyard-map__overlay graveyard-map--two__overlay"></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__source graveyard-map__source--two"><%= map_source %></div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale__container">
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                </span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>




        <div id="graveyard-map--two__container">
            <div class="graveyard-map__title graveyard-map__title--three">
                <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                    <h2 class="graveyard-map__title__text"><%= map3_title %></h2>
                    <p><%= map_section_para_11 %></p>
                    <p><%= map_section_para_12 %></p>
                    <p><%= map_section_para_13 %></p>
                    <p><%= map_section_para_14 %></p>
                </div>
            </div>
            <div class="graveyard-map__subtitle graveyard-map__subtitle--three">
                <div class="graveyard-map__stats graveyard-map__stats--one">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--one"><%= map3_incidents_stat %></p>
                    <p><%= map_key_incidents %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--two">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--two"><%= map3_deadormissing_stat %></p>
                    <p><%= map_key_deadormissing %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--three">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--three"><%= map3_cemeteries_stat %></p>
                    <p><%= map_key_cemeteries %></p>
                </div>
                <div class="graveyard-map__stats graveyard-map__stats--four">
                    <p class="graveyard-map__stats__number graveyard-map__stats__number--four"><%= map3_unmarkedgraves_stat %></p>
                    <p><%= map_key_unmarkedgraves %></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="newsspec_14121-map-wrapper">
                <div class="graveyard-map graveyard-map--three" id="graveyard-map--three">
                    <div class="graveyard-map__canvas" id="newsspec_14121-map-canvas--three"></div>
                    <div class="graveyard-map__overlay graveyard-map--three__overlay"></div>
                </div>
                <div id="mapSettings"></div>
            </div>
            <div class="graveyard-map__source graveyard-map__source--three"><%= map_source %></div>
            <div class="graveyard-map__footer">
                <span class="graveyard-map__footer__title"><%= map_footer_title %></span>
                <span class="graveyard-map__footer__scale__container">
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--one">5</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--two">20</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--three">100</span>
                    <span class="graveyard-map__footer__scale graveyard-map__footer__scale--four">200</span>
                </span>
                <span class="graveyard-map__footer__grave-marker"><%= map_footer_graves_text %></span>
            </div>
        </div>


    </div>
</section>
