<section class="section section--five" id="section--five">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section5_title %></h2>
            <p><%= section5_para_1 %></p>
            <p><%= section5_para_2 %></p>
            <p><%= section5_para_3 %></p>
            <p><%= section5_para_4 %></p>
            <p><%= section5_para_5 %></p>
            <p><%= section5_para_6 %></p>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <blockquote class="bbcquote">
                <%= section_5_blockquote %>
                <cite class="bbcquote__cite"><%= section_5_blockquote_credit %></cite>
            </blockquote>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_7 %></p>
            <p><%= section5_para_8 %></p>
            <p><%= section5_para_9 %></p>
            <p><%= section5_para_10 %></p>
            <p><%= section5_para_11 %></p>
        </div>
    </div>

</section>
