<div class="section section--five" id="section--five">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section5_title %></h2>
            <p><%= section5_para_1 %></p>
            <p><%= section5_para_2 %></p>
            <p><%= section5_para_3 %></p>
        </div>
    </div>

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--undertaker" id="bbc-news-vj-video--undertaker">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section5_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section5_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_4 %></p>
        </div>
    </div>
    <div class="section--five__chart__container">
        <div class="section--five__chart section--five__chart--one"></div>
        <div class="section--five__chart section--five__chart--two"></div>
    </div>
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section5_para_5 %></p>
            <p><%= section5_para_6 %></p>
        </div>
    </div>

</div>
