<div class="section section--one" id="section--one">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">

            <ul class="meta-list">
                <li class="meta-list__item meta-list__item--timestamp">
                    <time datetime="2016-04-01">4th May 2016 <!-- < %= timestamp % >--></time>
                </li>
                <li class="meta-list__item meta-list__item--topic">
                    <a href=" < %= topic_link % > ">< %= topic_label % ></a>
                </li>
            </ul>

            <p class="intro">
                < %= intro_paragraph % >
            </p>
            <p>
                < %= intro_paragraph_2 % >
            </p>
             <p>
                < %= intro_paragraph_3 % >
            </p>

        </div>
    </div>
</div>

