<div class="section section--ticker" id="section--ticker">
    <div class="ticker">
        <div class="bbc-news-vj-grid-wrapper">
            <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                <p class="ticker__titles-one">
                    So far this year, <span class="ticker__title__stat">8 people</span> a day on average
                    drowned trying to cross the Mediterranean into
                    Europe.
                </p>
                <p class="ticker__titles-two">
                    It is likely that one of them will be buried in an
                    unmarked grave.
                </p>
            </div>
        </div>
    </div>
</div>

