<div class="bbc-news-vj-vocabs" style="display: none">
    <span class="vocabs__map1_label_1"><%= obj['map1_label_1'] %></span>
    <span class="vocabs__map1_label_2"><%= obj['map1_label_2'] %></span>
    <span class="vocabs__map1_label_3"><%= obj['map1_label_3'] %></span>
    <span class="vocabs__map1_label_4"><%= obj['map1_label_4'] %></span>
    <span class="vocabs__map1_label_5"><%= obj['map1_label_5'] %></span>
    <span class="vocabs__map1_label_6"><%= obj['map1_label_6'] %></span>
    <span class="vocabs__map1_label_7"><%= obj['map1_label_7'] %></span>
    <span class="vocabs__map1_label_8"><%= obj['map1_label_8'] %></span>
    <span class="vocabs__map2_label_1"><%= obj['map2_label_1'] %></span>
    <span class="vocabs__map2_label_2"><%= obj['map2_label_2'] %></span>
    <span class="vocabs__map2_label_3"><%= obj['map2_label_3'] %></span>
    <span class="vocabs__map2_label_4"><%= obj['map2_label_4'] %></span>
    <span class="vocabs__map2_label_5"><%= obj['map2_label_5'] %></span>
    <span class="vocabs__map2_label_6"><%= obj['map2_label_6'] %></span>
    <span class="vocabs__map2_label_7"><%= obj['map2_label_7'] %></span>
    <span class="vocabs__map2_label_8"><%= obj['map2_label_8'] %></span>
    <span class="vocabs__map3_label_1"><%= obj['map3_label_1'] %></span>
    <span class="vocabs__map3_label_2"><%= obj['map3_label_2'] %></span>
    <span class="vocabs__map3_label_3"><%= obj['map3_label_3'] %></span>
    <span class="vocabs__map3_label_4"><%= obj['map3_label_4'] %></span>
    <span class="vocabs__map3_label_5"><%= obj['map3_label_5'] %></span>
    <span class="vocabs__map3_label_6"><%= obj['map3_label_6'] %></span>
</div>