.hero {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url('../img/italy_graves_intro_1400.jpg');
    height: 0;
    padding-bottom: 55%;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
       @media (max-aspect-ratio: 1/1) {
        padding-bottom: 100%;
    }

    @media (min-width: 320px) and (max-aspect-ratio: 8/10) {
        background-position: -67px 0;
        padding-bottom: 90%;
    }

    @media (min-width: 480px) and (max-aspect-ratio: 1/1) {
        padding-bottom: 52%;
        background-position: 0 -67px;
    }

    @media (min-width: 800px) {
        background-position: 0 0;
    }

    @media (min-width: 1008px) {
        padding-bottom: 52%;
    }

    @media (min-width: 1280px) {
        background-position: 0 -240px;
        padding-bottom: 40%;
    }

    .bbc-news-vj-grid-wrapper {
        position: static;
    }

    &__titles {
        background-color: #fff;
        bottom:0;
        color: #000;
        // text-shadow: 0.0625em 0.0625em 0.25em #000;
        left: 8px;
        right: 8px;
        margin:0 auto;
        padding:18px;
        padding-bottom:0;
        position:absolute;
        text-align: left;
        @media (min-width: 400px) {
            left:  16px;
            right: 16px;
        }
        // to do
        @media (min-width: 600px) {
            left:  16px;
            right: 16px;
        }
        @media (min-width: 1008px) {
            padding:16px;
        }
        @media (min-width: 1280px) {
        }



        @media (min-width: 280px) {
            max-width:290px;
        }

        @media (min-width: 350px) {
            max-width:375px;
        }

        @media (min-width: 415px) {
            max-width:385px;
        }

        @media (min-width: 545px) {
            max-width:515px;
        }

        @media (min-width: 600px) {
            max-width:560px;
        }

        @media (min-width: 700px) {
            max-width:600px;
            width:600px;
            padding: 22px;
        }

        @media (min-width: 1008px) {
            max-width:630px;
            width:630px;
        }

        @media (min-width: 1280px) {
            max-width:705px;
            width:705px
        }

    }

    &__heading {
        font-size: 2em;
        line-height: 1;
        margin: 0;

        @media (min-width: 600px) {
            font-size: 2.889em;
        }
    }

    .hero__subheading {
        font-size: 1.125em;
        line-height: 1;
        margin: 0;
        margin-top: 0.5em;

        @media (min-width: 600px) {
            font-size: 1.44444em;
        }
    }
}

.bbc-news-vj-direction--rtl {
    .hero__titles {
        direction:rtl;
        text-align:right;
    }
}