.section {
    .graveyard-map {
        height:800px;
        max-width: 1008px;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid #505050;
        text-align:center;
        // padding-top:56.25%;
        position: relative;
        overflow: hidden;
        // max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        // margin-bottom:50px;
        // fixes kml warping
        img {
            max-width: none;
        }

        &__canvas {
            height:  800px;
            max-width: 1008px;
            margin-left: auto;
            margin-right: auto;
            // border: 1px solid #505050;
            text-align:center;
            // padding-top:56.25%;
            position: relative;
            overflow: hidden;
            // max-width: 1040px;
            width: 100%;
            margin: 0 auto;
            // margin-bottom:50px;
        }
        &__overlay{
            background-color:#aa0000;
            height:125px;
            position: absolute;
            top:0;
            left:0;
            width:125px;
        }
        &--one {

        }
        &--two {

        }
        &--three {

        }
        &__source {
            display: none;
            font-weight: bold;
            position: absolute;
            margin-top:-24px;
            margin-left:4px;
        }
        &__title {
            &__text{
                margin-bottom:0;
            }
            &__subtext{
                margin-top:10px;
            }
        }
        &__subtitle {
        }
        &__stats {
            float: left;
            font-size: 0.8em;
            line-height:0.75em;
            margin-right: 20px;
            @media (min-width: 600px) {
                font-size: 1em;
            }
            &__number {
                font-size:1.5em;
                font-weight:bold;
                margin:0;
                margin-bottom:-20px;
                &--one {
                    color: #ff7700;
                }
                &--two {
                    color: #ff7700;
                }
                &--three {

                }
                &--four {

                }
            }
            &--one {

            }
            &--two {

            }
            &--three {

            }
            &--four {

            }
        }
        &__footer {
            font-size:0.9em;
            margin-top:6em;
            padding:6px;
            padding-bottom:18px;
            position: relative;
            text-align:left;
            &__title {
                font-weight: bold;
                position: absolute;
                top: -5em;
                width: 130px;
                @media (min-width:600px) {
                    width:150px;
                }
                @media (min-width:1280px) {
                    width:150px;
                }
            }
            &__scale {
                margin-right:26px;
                position: relative;
                text-align:center;
                &--one {
                    margin-left:100px;
                    &:before {
                        color: #ff8833;
                        content: ' \25CF';
                        font-size: 40px;
                        position: absolute;
                        top: -1.075em;
                        left: -7px;
                    }
                }
                &--two {
                    &:before {
                        color: #ff8833;
                        content: ' \25CF';
                        font-size: 70px;
                        position: absolute;
                        top: -1.0125em;
                        left: -13px;
                    }
                }
                &--three {
                    margin-right:36px;
                    &:before {
                        color: #ff8833;
                        content: ' \25CF';
                        font-size: 100px;
                        position: absolute;
                        top: -1em;
                        left: -17px;
                    }
                }
                &--four {
                    &:before {
                        color: #ff8833;
                        content: ' \25CF';
                        font-size: 140px;
                        position: absolute;
                        top: -1em;
                        left: -30px;
                    }
                }

            }
            &__grave-marker {
                display:block;
                padding-top:8px;
                @media (min-width:440px){
                    display:inline-block;
                    height: 30px;
                    margin-left: 50px;
                    position: absolute;
                    top: -5.5em;

                }
                &:before {
                    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2016.1%2017.6%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%2016.1%2017.6%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M12.4%2013.9V4.3c0%200-1.5-1.8-4.3-1.8S3.7%204.3%203.7%204.3v9.6H2.3v1.3h11.5v-1.3H12.4z%22%20fill%3D%22%231D1D1B%22/%3E%3Cpath%20d%3D%22M8.1%202.5c2.8%200%204.3%201.8%204.3%201.8v9.6h1.4v1.3H2.3v-1.3h1.4V4.3C3.7%204.3%205.3%202.5%208.1%202.5M8.1%200.5C4.5%200.5%202.4%202.7%202.2%203L1.7%203.6v0.7%207.6H0.3v2%201.3%202h2%2011.5%202v-2%20-1.3%20-2h-1.4V4.3%203.6L13.9%203C13.7%202.8%2011.7%200.5%208.1%200.5L8.1%200.5z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    content: '';
                    font-size: 18px;
                    padding-right:20px;
                    margin-right:6px;
                }
            }
        }
    }
    .clearfix {
        clear: both;
    }
}

    .newsspec_14121-map-wrapper {
      margin-top: .5em;
      border: 1px solid #505050;
      position: relative;
      overflow: hidden;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
    }
    .circle-canvas {
      outline: 1px solid #f0f;
    }

    .newsspec_14121-map-wrapper .newsspec_14121--date--display {
       box-sizing: border-box;
       min-height: 61px;
       opacity: 0;
       transition: opacity 1s;
       padding: 15px;
       font: 27px Arial;
       color: #505050;
       text-align: center;
       border-bottom: 1px solid #505050;
       display: none;
    }
    .gm-style-cc {
        display: none;
        position: absolute;
        bottom: -200px;
        opacity: 0;
    }

    @media screen and (min-width: 700px) {
        .newsspec_14121-map-wrapper .newsspec_14121--reset--button {
          top: 61px;
          left: 0;
          width: 130px;
        }
    }
    .newsspec_14121-map-wrapper .bbc-label-city {
        font-size: 16px;
        font-weight: normal;
        color: #222222;
        font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
        margin: -.6125em 0 0 .5em;
    }

    .newsspec_14121-map-wrapper .bbc-label-citya {
        height: 1px;
        width: 1px;
        z-index: 2000;
        background: #f0f;
        text-indent: -9999em;
        margin: 0;
    }

    .newsspec_14121-map-wrapper .bbc-label-city:before {
        display: block;
        content: "";
        position: absolute;
        height: 7px;
        width: 7px;
        border: 1px solid #000;
        background-color: #fff;
        left: -.75em;
        top: .375em;
        border-radius: 50%;
    }

    .newsspec_14121-map-wrapper .bbc-label-city--padded {
        background-color: #fffff;
        background-color: rgba(255,255,255,.8);
        border-left: 1px solid #000;
        font-size: 16px;
        font-weight: bold;
        color: #222222;
        font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
        margin: -.9125em 0 0 .9375em;
        padding: .3em .5em;
    }

    .newsspec_14121-map-wrapper .bbc-label-country {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #222222;
        font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-shadow: 2px 2px 1px #fff,-2px -2px 1px #fff,2px -2px 1px #fff,-2px 2px 1px #fff;
    }

    .newsspec_14121-map-wrapper .bbc-label-city--padded:before {
        display: block;
        content: "";
        position: absolute;
        height: 7px;
        width: 7px;
        border: 1px solid #000;
        background-color: #fff;
        left: -1.25em;
        top: .65em;
        border-radius: 50%;
    }

    .newsspec_14121-map-wrapper .bbc-label-city--padded:after {
        display: block;
        content: "";
        position: absolute;
        height: 1px;
        width: 0.725em;
        background-color: #222222;
        left: -0.75em;
        top: 0.89em;
    }

    .newsspec_14121--locator {
        position: absolute;
        width: auto;
        z-index: 200;
        right: 0;
        border: 1px solid #000;
        border-right: 0;
        border-top: 0;
    }

    @media (max-width: 699px) {
        .newsspec_14121--locator {
            width: 10em;
        }
    }

    /* Internationalisation text strings for the interface */
    .bbcZoomIn:before { content: "Zoom in"; }
    .bbcZoomOut:before { content: "Zoom out"; }
    .maxZoom .bbcZoomIn:before { content: "Maximum zoom level reached";}
    .minZoom .bbcZoomOut:before { content: "Minimum zoom level reached";}
    .bbcFullScreen:before { content: "Open fullscreen mode";}
    .isFullScreen .bbcFullScreen:before { content: "Close fullscreen mode"; }











.bbcZoomControl {
    padding: 0 8px 8px 0;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.bbcZoomIn,
.bbcZoomOut,
.bbcFullScreen {
    height: 40px;
    width: 40px;
    margin-bottom: 2px;
    background-color: rgba(0,127,127,.8);
    text-align: center;
    font-weight: normal;
    line-height: 40px;
    -webkit-transition: background-color .3s ease 0.1s;
    transition: background-color .3s ease 0.1s;
    -webkit-user-select: none;
    user-select: none;
}

.bbcZoomOut:last-child,
.bbcFullScreen:last-child {
    margin-bottom: 0;
}

.bbcZoomControl > * {
    position: relative;
}

.bbcFullScreen {
    text-indent: -9999em;
    background-image: url(assets/img/frame/fullscreen.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 0 0;
}

.bbcFullScreen:hover {
    background-position: 0 -40px;
}

.isFullScreen .bbcFullScreen {
    background-position: -40px 0;
}

.isFullScreen .bbcFullScreen:hover {
    background-position: -40px -40px;
}

.bbcFullScreen:hover,
.bbcZoomIn:hover,
.bbcZoomOut:hover {
    background-color: #007f7f;
    cursor: pointer;
    -webkit-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s;
}

.bbcZoomControl > *:before {
    opacity: 0;
    transition: opacity .3s ease .1s;
    content: "";
    position: absolute;
    display: inline-block;
    height: 40px;
    padding: 0 .75em;
    right: 40px;
    background-color: rgba(51, 51, 51, .92);
    top: 0;
    font-size: .5em;
    width: auto;
    text-indent: 0;
    pointer-events: none;
    white-space: nowrap;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.bbcZoomControl > *:hover:before {
    opacity: 1;
}

.minZoom .bbcZoomOut {
    background-color: rgba(0,0,0,.2);
}

.maxZoom .bbcZoomIn {
    background-color: rgba(0,0,0,.2);
}