.section {
    .bbc-news-vj-video-wrapper {
        direction: ltr;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @media (min-width: 800px) {
            margin-bottom: 0;
        }
    }

    .bbc-news-vj-video {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--drone {
            background-image: url('../img/drone_video_poster_1040.jpg');
        }

        &--lesbos {
            background-image: url('../img/arrival_image_1040.jpg');
            margin-bottom: 80px;
            @media (min-width: 800px) {
                margin-bottom: 0;
            }
        }

        &--voices {
            background-image: url('../img/kato_tritos_poster_image_1040.jpg');
            margin-bottom: 80px;
            @media (min-width: 800px) {
                margin-bottom: 0;
            }
        }

        &__player {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-size: cover;
            position: absolute;
            padding: 0;
        }

        &__overlay {
            background-color:#000;
            bottom: -64px;
            height: 64px;
            overflow: hidden;
            width:100%;
            z-index: 20;
            position: absolute;
            &--hidden {
                display:none;
            }
            &:hover {
                cursor: pointer;
                .bbc-news-vj-video__overlay__play {
                    background-color: darkred;
                }
            }

            &__play {
                width: 64px;
                height: 64px;
                background: none;
                background-color: transparent;
                background-image: url(../img/play_button.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 21px 26px;
                border: none;
                display: none;
                float: left;
                transition: background-color 500ms;
                margin-right:15px;
                &:hover, &:active, &:focus {
                    background-color: darkred;
                }
            }

            &__text {
                color: #fff;
                padding: 8px;

                &__title {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 2px;
                }

                &__summary {
                    color: #999;
                    font-size: 14px;
                    font-weight: normal;
                }
            }

            &--hidden {
                 @media (min-width: 800px) {
                    display: none;
                }
            }

            @media (min-width: 800px) {
                background-color: #000;
                bottom: 0;
                height: 64px;
                overflow: hidden;
                position: absolute;
                width: 50%;
                z-index: 20;

                &__play {
                    display: block;
                }
            }
        }
    }

    .lesbos-map__image {
        margin-bottom:2em;
        margin-top:2em;
        padding:0;
        width:100%;
    }
    .lesbos-map__image__fallback {
        margin: 0 auto;
        padding:0;
        width: 100%;
    }

    .media-with-caption__caption {
        background: black;
        color: white;
        font-size: 12px;
        padding:8px;
    }

}

.section--method, .section--footer {
    margin-top:60px;
}

.bbc-news-vj-language--afrique {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.bbc-news-vj-language--arabic {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--hausa {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--mundo {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--pasto {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--persian {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--russian {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--turkish {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--ukranian {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--urdu {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.bbc-news-vj-language--uzbek {
    .bbc-news-vj-video--drone {
        background-image: url('../img/drone_video_poster_1040.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
