.section {
    .bbc-news-vj-video-wrapper {
        max-width: 1008px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @media (min-width: 800px) {
            margin-bottom: 0;
        }
    }

    .bbc-news-vj-video {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--drone {
            background-image: url('http://newsimg.bbc.co.uk/news/special/2016/newsspec_12934/content/full-width/common/img/mami-dog-cropped.jpg');
        }

        &--lesbos {
            background-image: url('http://newsimg.bbc.co.uk/news/special/2016/newsspec_12934/content/full-width/common/img/mami-dog-cropped.jpg');
        }

        &--undertaker {
            background-image: url('http://newsimg.bbc.co.uk/news/special/2016/newsspec_12934/content/full-width/common/img/mami-dog-cropped.jpg');
        }

        &__player {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-size: cover;
            position: absolute;
            padding: 0;
        }

        &__overlay {
            background-color:#000;
            bottom: -64px;
            height: 64px;
            overflow: hidden;
            width:100%;
            z-index: 20;
            position: absolute;
            &:hover {
                cursor: pointer;
                .bbc-news-vj-video__overlay__play {
                    background-color: darkred;
                }
            }

            &__play {
                width: 64px;
                height: 64px;
                background: none;
                background-color: transparent;
                background-image: url(../img/play_button.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 21px 26px;
                border: none;
                display: none;
                float: left;
                transition: background-color 500ms;
                margin-right:15px;
                &:hover, &:active, &:focus {
                    background-color: darkred;
                }
            }

            &__text {
                color: #fff;
                padding: 8px;

                &__title {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 2px;
                }

                &__summary {
                    color: #999;
                    font-size: 14px;
                    font-weight: normal;
                }
            }

            &--hidden {
                 @media (min-width: 800px) {
                    display: none;
                }
            }

            @media (min-width: 800px) {
                background-color: #000;
                bottom: -0.5px;
                height: 64px;
                overflow: hidden;
                position: absolute;
                width: 50%;
                z-index: 20;

                &__play {
                    display: block;
                }
            }
        }
    }

    .responsive-img__container {
        margin-bottom:2em;
        padding:0;
        width:100%;
    }
    .responsive-img__fallback-img {
        margin: 0 auto;
    }

}