.section--one {
    margin-top:40px;
    .intro--stat {
        font-size:1.45em;
        .red-text {
            color: #c00;
            font-weight: bold;
        }
    }
}

.bbc-news-vj-wrapper .meta-list {
    display: block;
    font-size: 14px;
    margin-bottom: 1.5em;
    padding: 0;
    &:after {
        border-bottom: 1px solid #dcdcdc;
        margin: 10px 0 10px 0;
    }

    &__item {
        display: inline-block;
        margin-top: 2px;
        margin-right: 0.2em;
        margin-bottom: 6px;
        padding-right: 0.5em;
        position: relative;
        &:last-child {
            border: none;
            margin-right: 0;
            padding-right: 0;
        }
        &--author {
            color: #a00;
            font-weight: bold;
        }
        &--role {
            color: #999;
            display:block;
            word-wrap: break-word;
            word-break: break-word;
        }
        &--timestamp {
            clear:both;
            display: block;
            float:left;
            padding-left: 1.375em;
            &:before {
                content: '';
                display: block;
                background: url('../img/boilerplate-icons-sprite.png') no-repeat -10px -4010px;
                width: 13px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 1px;
            }
        }
        &--topic {
            float: left;
            margin-left: 6px;
        }
        &--topic a {
            color: #e52020;
            text-decoration: none;
            border: none;
            &:active, &:focus, &:hover {
                color: #a00;
            }
        }
    }

    @media (min-width: 1280px) {
        min-width: 16.4%;
        border-bottom: none;
        border-right: 1px solid #dcdcdc;
        margin: 0;
        max-width:170px;
        position: absolute;
        left: 0;
        &__item {
            border: none;
            margin-left:-10px;
            &--author {
                display: block;
                float: none;
            }
            &--role {
                float: none;
            }
            &--topic {
                margin-left: 0;
            }
        }
    }
}

.bbc-news-vj-wrapper .intro {
    font-weight: bold;
}

.bbc-news-vj-wrapper .hero-stat {
    width: 100%;
    &:before {
        content: '';
        // background-image: url(../img/1_death/buildings.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 193.5px;
        height: 64.5px;
        position: absolute;
        top: -48px;
    }
    &__title-one {
        font-size: 1.25em;
    }
    &__title-two {
        font-size: 1.25em;
    }
    &__title--stat {
        font-weight: 800;
    }
}