<section class="section hero" id="section--hero">
    <center>
        <div class="hero__titles">
            <h1 class="hero__heading">{{ vocab.hero_title }}</h1>
            <p class="hero__subheading">{{ vocab.hero_subtitle }}</p>
        </div>
    </center>
</section>